body {
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins', sans-serif;
}

h1 {
    font-size: 40px;
}

span {
    color: rgb(233, 164, 37);
}

#first {
    font-weight: 1000;
}

.link-button{
    text-decoration: none;
    padding: 5px 40px;
    border-radius: 10px;
    background-color: orangered;
    border: none;
    font-size: 20px;
    color: white;
    font-weight: 700;
}
#container{
    display: flex;
    margin-bottom: 150px;
   width: 100%;
   background-image: url(img/top-banner.png);
   background-repeat: no-repeat;
}
#left-content{
    width: 50%;
    padding-left: 30px;
}
#right-content{
    width: 50%;
    padding-left: 30px;
    
}
#right-content img{
    width: 70%;
}
#bold{
    font-weight: 700;
}
#drim-big{
    display: flex;
    width: 100%;
    background-image: url(img/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
 
   
}
#drim-left{
    width: 50%;
    padding-left: 30px;
    
}
#drim-left img{
    width: 70%;
}
#drim-right{
    width: 50%;
    padding-left: 30px;

}
#resume{
    background-color: orangered;
    text-decoration: none;
    padding: 10px 40px;
    border-radius: 15px;
    color: white;
    font-weight: 700;
}
#cler-section{
    display: flex;
    width: 100%;
    background-image: url(img/exp-bg.png);
    background-repeat: no-repeat;
    background-position: left;
  
 

}
#expert{
    width: 40%;
    padding-left: 30px;
    
    border-left: 5px solid;
    border-image: linear-gradient( red,rgb(180, 127, 29));
    border-image-slice: 1;
    border-radius: 5px;
    box-shadow: 5px 10px  20px gray;
    margin: 3% 5%;
    padding-right: 6%;

}
#lern-2022{
    width: 40%;
    border-left: 5px solid;
    border-image:linear-gradient(blue,cyan );
    border-image-slice: 1;
    border-radius: 5px;
    padding-left: 30px; 
    box-shadow:  5px 10px 20px  gray;
    padding-right: 6%;
    margin: 3% 5%;
}